doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title T-Shirt Design App
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    // Le HTML5 shim, for IE6-8 support of HTML elements
    //if lt IE 9
      script(src='https://html5shim.googlecode.com/svn/trunk/html5.js')
    //if IE
      script(type='text/javascript', src='../javascripts/excanvas.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(type='text/javascript', src='../javascripts/fabric.js')
    script(type='text/javascript', src='../javascripts/tshirtEditor.js')
    script(type='text/javascript', src='../javascripts/jquery.miniColors.min.js')
    // Le styles
    link(type='text/css', rel='stylesheet', href='../stylesheets/jquery.miniColors.css')
    link(href='../stylesheets/bootstrap.css', rel='stylesheet')
    link(href='../stylesheets/bootstrap-responsive.css', rel='stylesheet')
    link(href='../stylesheets/font-awesome.min.css', rel='stylesheet')
    script(type='text/javascript').
    style(type='text/css').
      .footer {
      padding: 70px 0;
      margin-top: 70px;
      border-top: 1px solid #E5E5E5;
      background-color: whiteSmoke;
      }
      .container-narrow {
      margin: 0 auto;
      max-width: 53%;
      }
      .inputdiv {
      margin: 0px 5% 0px 0px;
      width: 70%;
      }
      .buttondiv {
      width: 25%;
      }
      .uploaddiv {
      text-align:center;
      width: 80%;
      }
      body {
      padding-top: 20px;
      }
      .color-preview {
      border: 1px solid #CCC;
      margin: 2px;
      zoom: 1;
      vertical-align: top;
      display: inline-block;
      cursor: pointer;
      overflow: hidden;
      width: 20px;
      height: 20px;
      float:left;
      }
      .rotate {
      -webkit-transform:rotate(90deg);
      -moz-transform:rotate(90deg);
      -o-transform:rotate(90deg);
      /* filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1.5); */
      -ms-transform:rotate(90deg);
      }
      .Arial{font-family:"Arial";}
      .Helvetica{font-family:"Helvetica";}
      .MyriadPro{font-family:"Myriad Pro";}
      .Delicious{font-family:"Delicious";}
      .Verdana{font-family:"Verdana";}
      .Georgia{font-family:"Georgia";}
      .Courier{font-family:"Courier";}
      .ComicSansMS{font-family:"Comic Sans MS";}
      .Impact{font-family:"Impact";}
      .Monaco{font-family:"Monaco";}
      .Optima{font-family:"Optima";}
      .HoeflerText{font-family:"Hoefler Text";}
      .Plaster{font-family:"Plaster";}
      .Engagement{font-family:"Engagement";}
  body.preview(data-spy='scroll', data-target='.subnav', data-offset='80')
    //
      Navbar
      ==================================================
    .container-narrow
      #group
        .masthead
          h3.text-muted williamnharvey.com
          h3.text-muted T-Shirt Design App
        hr
      section#typography
        // Headings & Paragraph Copy
        .row-fluid
          .span4
            .tabbable
              // Only required for left/right tabs
              ul.nav.nav-tabs
                li.active
                  a(href='#tab1', data-toggle='tab') Colour
                li
                  a(href='#tab2', data-toggle='tab') Image
                li
                  a(href='#tab3', data-toggle='tab') Text
                li
                  a(href='#tab4', data-toggle='tab') Save/Load Styles
              .tab-content
                #tab1.tab-pane.active
                  .well
                    ul.nav
                      li.color-preview(title='White', style='background-color:#ffffff;')
                      li.color-preview(title='Dark Heather', style='background-color:#616161;')
                      li.color-preview(title='Gray', style='background-color:#f0f0f0;')
                      li.color-preview(title='Charcoal', style='background-color:#5b5b5b;')
                      li.color-preview(title='Black', style='background-color:#222222;')
                      li.color-preview(title='Heather Orange', style='background-color:#fc8d74;')
                      li.color-preview(title='Heather Dark Chocolate', style='background-color:#432d26;')
                      li.color-preview(title='Salmon', style='background-color:#eead91;')
                      li.color-preview(title='Chesnut', style='background-color:#806355;')
                      li.color-preview(title='Dark Chocolate', style='background-color:#382d21;')
                      li.color-preview(title='Citrus Yellow', style='background-color:#faef93;')
                      li.color-preview(title='Avocado', style='background-color:#aeba5e;')
                      li.color-preview(title='Kiwi', style='background-color:#8aa140;')
                      li.color-preview(title='Irish Green', style='background-color:#1f6522;')
                      li.color-preview(title='Scrub Green', style='background-color:#13afa2;')
                      li.color-preview(title='Teal Ice', style='background-color:#b8d5d7;')
                      li.color-preview(title='Heather Sapphire', style='background-color:#15aeda;')
                      li.color-preview(title='Sky', style='background-color:#a5def8;')
                      li.color-preview(title='Antique Sapphire', style='background-color:#0f77c0;')
                      li.color-preview(title='Heather Navy', style='background-color:#3469b7;')
                      li.color-preview(title='Cherry Red', style='background-color:#c50404;')
                #tab2.tab-pane
                  .well(style='text-align:center;')
                    form#uploadForm(name='upload', enctype='multipart/form-data', action='/upload', method='POST')
                      label.btn.uploaddiv.btn-primary Upload Image
                        input#upload(type='file', name='avatar', style='display:none;')
                    img#loadingImg(src='../images/triangle.svg', style='display:none;width:50%;')
                #tab3.tab-pane
                  .well
                    .input-append
                      input#text-string.inputdiv(type='text', placeholder='Add text to shirt')
                      button#add-text.btn.buttondiv.btn-primary(title='Add text') Add Text
                #tab4.tab-pane
                  .well(style='text-align:center;')
                    .input-append
                      button#saveBtn.btn.buttondiv.btn-primary(title='Save') Save
                  .well
                    .input-append
                      button#save1.btn.buttondiv.btn-primary(title='Save 1', style='display: none') Save 1
                      button#save2.btn.buttondiv.btn-primary(title='Save 2', style='display: none') Save 2
                      button#save3.btn.buttondiv.btn-primary(title='Save 3', style='display: none') Save 3
                      button#save4.btn.buttondiv.btn-primary(title='Save 4', style='display: none') Save 4
                      button#save5.btn.buttondiv.btn-primary(title='Save 5', style='display: none') Save 5
                      button#save6.btn.buttondiv.btn-primary(title='Save 6', style='display: none') Save 6
          .span8
            div(align='center', style='min-height: 32px;')
              .clearfix
                #texteditor.btn-group.inline.pull-left(style='display:none')
                  button#font-family.btn.dropdown-toggle(data-toggle='dropdown', title='Font Style')
                    i.fa.fa-font(style='width:19px;height:19px;')
                  ul.dropdown-menu(role='menu', aria-labelledby='font-family-X')
                    li
                      a.Arial(tabindex='-1', href='#', onclick="setFont('Arial');") Arial
                    li
                      a.Helvetica(tabindex='-1', href='#', onclick="setFont('Helvetica');") Helvetica
                    li
                      a.MyriadPro(tabindex='-1', href='#', onclick="setFont('Myriad Pro');") Myriad Pro
                    li
                      a.Delicious(tabindex='-1', href='#', onclick="setFont('Delicious');") Delicious
                    li
                      a.Verdana(tabindex='-1', href='#', onclick="setFont('Verdana');") Verdana
                    li
                      a.Georgia(tabindex='-1', href='#', onclick="setFont('Georgia');") Georgia
                    li
                      a.Courier(tabindex='-1', href='#', onclick="setFont('Courier');") Courier
                    li
                      a.ComicSansMS(tabindex='-1', href='#', onclick="setFont('Comic Sans MS');") Comic Sans MS
                    li
                      a.Impact(tabindex='-1', href='#', onclick="setFont('Impact');") Impact
                    li
                      a.Monaco(tabindex='-1', href='#', onclick="setFont('Monaco');") Monaco
                    li
                      a.Optima(tabindex='-1', href='#', onclick="setFont('Optima');") Optima
                    li
                      a.Hoefler.Text(tabindex='-1', href='#', onclick="setFont('Hoefler Text');") Hoefler Text
                    li
                      a.Plaster(tabindex='-1', href='#', onclick="setFont('Plaster');") Plaster
                    li
                      a.Engagement(tabindex='-1', href='#', onclick="setFont('Engagement');") Engagement
                  button#text-bold.btn(data-original-title='Bold')
                    img(src='../images/font_bold.png', height='', width='')
                  button#text-italic.btn(data-original-title='Italic')
                    img(src='../images/font_italic.png', height='', width='')
                  button#text-strike.btn(title='Strike', style='')
                    img(src='../images/font_strikethrough.png', height='', width='')
                  button#text-underline.btn(title='Underline', style='')
                    img(src='../images/font_underline.png')
                  a.btn(href='#', rel='tooltip', data-placement='top', data-original-title='Font Color')
                    input#text-fontcolor.color-picker(type='hidden', size='7', value='#000000')
                  a.btn(href='#', rel='tooltip', data-placement='top', data-original-title='Font Border Color')
                    input#text-strokecolor.color-picker(type='hidden', size='7', value='#000000')
                  // - Background <input type="hidden" id="text-bgcolor" class="color-picker" size="7" value="#ffffff"> -
                #undoredo.pull-right(align='', style='display:inline-block')
                  .btn-group
                    button#undo.btn(title='Undo')
                      i.fa.fa-undo(style='height:19px;')
                    button#redo.btn(title='Redo')
                      i.fa.fa-repeat(style='height:19px;')
                #imageeditor.pull-right(align='', style='display:none')
                  .btn-group
                    button#bring-to-front.btn(title='Bring to Front')
                      i.fa.fa-fast-forward(style='height:19px;')
                    button#send-to-back.btn(title='Send to Back')
                      i.fa.fa-fast-backward(style='height:19px;')
                    button#flip.btn(type='button', title='Show Back View')
                      i.fa.fa-retweet(style='height:19px;')
                    button#remove-selected.btn(title='Delete selected item')
                      i.fa.fa-trash(style='height:19px;')
            // EDITOR
            #shirtDiv.page(style='width: 530px; height: 630px; position: relative; background-color: rgb(255, 255, 255);')
              img#tshirtFacing(src='../images/crew_front.png')
              #drawingArea(style='position: absolute;top: 100px;left: 160px;z-index: 10;width: 200px;height: 400px;')
                canvas#tcanvas.hover(width='200', height='400', style='-webkit-user-select: none;')
            // <div id="shirtBack" class="page" style="width: 530px; height: 630px; position: relative; background-color: rgb(255, 255, 255); display:none;">
            // <img src="../images/crew_back.png"></img>
            // <div id="drawingArea" style="position: absolute;top: 100px;left: 160px;z-index: 10;width: 200px;height: 400px;">
            // <canvas id="backCanvas" width=200 height="400" class="hover" style="-webkit-user-select: none;"></canvas>
            // </div>
            // </div>
            // /EDITOR
    // /container
    // scripts
    script(src='../javascripts/bootstrap.min.js')
    script(type='text/javascript').
      $.ajax({
      type:'POST',
      url:'/getSaves',                  
      contentType: false,
      processData: false,
      success: function(data) {
      if(data.indexOf('save1') > -1) $('#save1').show();
      if(data.indexOf('save2') > -1) $('#save2').show();
      if(data.indexOf('save3') > -1) $('#save3').show();
      if(data.indexOf('save4') > -1) $('#save4').show();
      if(data.indexOf('save5') > -1) $('#save5').show();
      if(data.indexOf('save6') > -1) $('#save6').show();
      }
      });
      
      document.getElementById("save1").onclick = function() {
      $.ajax({
      type:'POST',
      url:'/loadSave',
      dataType: 'json',
      data: {save: '1'},
      success: function(data) {
      loadCanvas(data);
      }
      });
      }
      
      document.getElementById("save2").onclick = function() {
      $.ajax({
      type:'POST',
      url:'/loadSave',
      dataType: 'json',
      data: {save: '2'},
      success: function(data) {
      loadCanvas(data);
      }
      });
      }
      
      document.getElementById("save3").onclick = function() {
      $.ajax({
      type:'POST',
      url:'/loadSave',
      dataType: 'json',
      data: {save: '3'},
      success: function(data) {
      loadCanvas(data);
      }
      });
      }
      
      document.getElementById("save4").onclick = function() {
      $.ajax({
      type:'POST',
      url:'/loadSave',
      dataType: 'json',
      data: {save: '4'},
      success: function(data) {
      loadCanvas(data);
      }
      });
      }
      
      document.getElementById("save5").onclick = function() {
      $.ajax({
      type:'POST',
      url:'/loadSave',
      dataType: 'json',
      data: {save: '5'},
      success: function(data) {
      loadCanvas(data);
      }
      });
      }
      
      document.getElementById("save6").onclick = function() {
      $.ajax({
      type:'POST',
      url:'/loadSave',
      dataType: 'json',
      data: {save: '6'},
      success: function(data) {
      loadCanvas(data);
      }
      });
      }
      document.getElementById("saveBtn").onclick = function() {
      /*$.ajax({
      type:'POST',
      url:'/save',
      data : ,                  
      contentType: false,
      processData: false,
      success: function(data) {
      //print response on success
      console.log(data);
      }
      });*/
      saveCanvas();
      }
      document.getElementById("upload").onchange = function() {
      uploadImage();
      };
      //$(function(){
      //$('#uploadForm').submit(function(e){
      //formData sets: multipart/form-data
      function uploadImage() {
      var formData = new FormData($('#uploadForm')[0]);
      $('#loadingImg').show();
      $.ajax({
      type:'POST',
      url:'http://williamnharvey.com/freshupload.php',
      data : formData,                  
      contentType: false,
      processData: false,
      success: function(data) {
      //print response on success
      addUploadedImg(data);
      }
      });
      }
      //e.preventDefault(); 
      //});
      //});
      /*$("#submit").click(function () {
      var data = new FormData();
      data.append('image', document.getElementById('uploadForm'));
      console.log(document.getElementById('uploadForm'));  
      var req = new XMLHttpRequest();
      req.open('POST', '/upload')
      req.send(data);
      $.ajax({
      url: '/upload',
      data: data,
      cache: false,
      contentType: false,
      processData: false,
      type: 'POST',
      success: function() {
      console.log('succ');
      }
      });
      });*/
      jQuery.browser = {};
      (function () {
      jQuery.browser.msie = false;
      jQuery.browser.version = 0;
      if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
      jQuery.browser.msie = true;
      jQuery.browser.version = RegExp.$1;
      }
      })();
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35639689-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();